# You can fetch the dependencies by entering 'pip install -r requirements.txt' without quotes.
# For more information read README.md


django # Django is required to run this project.
django-taggit # Taggit it used as a tags manager.
