body {
    padding-top: 120px;
    font-family: Arial;
}

.site-title,
.post-content,
.post-meta,
.post-tags,
.tag-title,
.tag-list,
.footer,
.post-title {
    width: 500px;
    margin: 0 auto;
}

.footer {
    padding-top: 10px;
    text-align: center;
}

.tag-list {
    font-style: italic;
}

.site-title {
    padding-bottom: 25px;
}

a:link, a:visited {
    color: slateGrey;
    text-decoration: none;
    border-bottom: 1px slateGrey;
}

a:hover {
    color: #444;
    border-bottom-color: #444;
}